
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "font.css";
@import "logo.css";
@import "hero.css";
@import "menunavigazione.css";
@import "header.css";


h1{
  color:white;
  font-size: 80px;
  font-family: Merriweather;
  border-top: solid;
  border-bottom: solid;
  border-bottom-color: black;
  border-top-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.midItems{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

p{
  font-size: 30px;
  color: white;
  font-family: Merriweather;
  margin-top: 55px;
  padding-bottom: 55px;
  



}

hr{
  color: white;
  border-width: 3px;

}


a{
  font-size: 30px;
  color: #080C71;
  font-family: Merriweather;
  text-decoration: none;
  list-style: none;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 15px;
}