
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "font.css";
@import "logo.css";
@import "hero.css";
@import "menunavigazione.css";
@import "header.css";


.conloghi img{
  width: 25px;
  height: 25px;
  background-color: blueviolet;
  margin-left: 35px;
}



.conloghi{
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: rgb(9, 255, 0);
  margin-right: 35px;
  
  
  
}


